.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  url('../../assets/unsplash-001.png') center/cover no-repeat;
}

.hero-title {
  text-align: center;
  font-size: 2rem;

}

@media(min-width: 1024px) {
  .hero-image {
    font-size: 2.5rem;
  }
}

.shop-now-btn {
  margin-top: 50px;
  text-align: center;
}

.overlay {
  //position: fixed; /* Sit on top of the page content */
  //display: none; /* Hidden by default */
  //width: 100%; /* Full width (cover the whole page) */
  //height: 100%; /* Full height (cover the whole page) */
  //top: 02;
  // left: 0;
  // right: 0;
  //bottom: 0;
  //background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  //z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  //cursor: pointer; /* Add a pointer on hover */
}